<a ui-sref="score">Go to Scores page</a>
<h1>NFL News</h1>
<p ng-show="ctrl.loading">Loading..</p>
<div ui-scroll="item in ctrl.datasource" padding="1" buffer-size="5" top-visible-scope="topVisible">
    <div class="news" ng-cloak>
        <div ui-sref="score" class="img">
        </div>
        <div class="text">
            <p>{{::item.title}}</p>
            <p>{{::item.content}}</p>
        </div>
    </div>
</div>
<div class="news-infobox">
    <p>News counter: {{ctrl.datasource.items.length}}</p>
    <p>Watchers counter: {{ctrl.getWatchersCount()}}</p>
</div>