$base-color__body: #000000;
$base__font-family:  Arial, sans-serif;
$body-background: #efefef;
$score-background: #0b5394;
$score-color: #ffe4d6;
$base__font-size: 16;
$body__line-height: 1.4;

@function rem($px, $base: $base__font-size) {
  @return ($px / $base)*1rem;
}

@function em($px, $base: $base__font-size) {
    @return ($px / $base) * 1em;
}

$body__font-size: rem(14);

*  {
    outline: none;
}

html,
body {
    height: 100%;
}

body  {
    font-family: $base__font-family;
    color: $base-color__body;
    font-size: $body__font-size;
    line-height: $body__line-height;
    background: $body-background;
}

%headings  {
    line-height: 2.8;
    text-transform: uppercase;
}

h1 {
    @extend %headings;
    font-size: rem(22);
}

h2 {
    @extend %headings;
    font-size: rem(18);
}

h3 {
    @extend %headings;
    font-size: rem(16);
}

h4 {
    @extend %headings;
    font-size: rem(14);
}

p  {
    margin-bottom: rem(14);
}

main {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}