*  {
    outline: none;
}

html,
body {
	height: 100%;
}

body  {
	font-family: $base__font-family;
	color: $base-color__body;
	font-size: $body__font-size;
    line-height: $body__line-height;
	background: $body-background;
}

%headings  {
    line-height: 2.8;
    text-transform: uppercase;
}

h1 {
	@extend %headings;
	font-size: rem(18);
}

h2 {
	@extend %headings;
	font-size: rem(16);
}

h3 {
	@extend %headings;
	font-size: rem(14);
}

h4 {
	@extend %headings;
	font-size: rem(12);
}

p  {
    margin-bottom: rem(10);
}
