@media only screen and (max-width : 600px) {

    main {
        max-width: 300px;
    }

    .scorecards {
        flex-direction: column;

        .scorecard {
            flex: 1 0 auto;
            max-width: 100%;
        }
    }

    .news {
        .img {
            display: none;
        }
    }
}