.scorecards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  .scorecard {
    background: $score-background;
    color: $score-color;
    margin: 10px;
    padding: 22px;
    flex: 1 0 30%;
    border-radius: 10px;
    max-width: 30%;

    .team {

      p {
        line-height: 2.2em;
        margin-bottom: 0px;

        &.name {
          width: 80%;
          text-align: left;
          float: left;

        }

        &.score {
          width: 20%;
          margin-left: auto;
          text-align: right;
        }
      }
    }
  }
}

.news {
  width: 100%;
  max-width:600px;
  height: 190px;
  padding: 20px;
  margin: 10px auto;
  background: $score-background;
  color: $score-color;
  border-radius: 10px;
  display: block;

  .ng-leave, .ng-enter {
    -webkit-transition: 0.75s linear all;
    transition: 0.75s linear all;
  }

  .ng-enter {
    opacity: 0;
    height: 0;
  }
  .ng-enter.ng-enter-active {
    opacity: 1;
    height: 190px;
  }

  .ng-leave {
    opacity: 1;
    height: 190px;
  }
  .ng-leave.ng-leave-active {
    opacity: 0;
    height: 0;
  }

  .img {
    width: 150px;
    height: 150px;
    float: left;
    background-color: white;
    margin-right: 20px;
  }
  .text {
    width: 70%;
    margin: 0 auto;
  }
}

.news-message {
  cursor: pointer;
  position: fixed;
  background-color: $score-background;
  color: $score-color;
  padding: 20px;
  right: 20px;

  &.topped {
    top: 20px;
  }

  &.bottomed {
    bottom: 20px;
  }
}
