@media only screen and (max-width : 959px) {
    main {
        width: 720px;
    }
}

@media only screen and (max-width : 719px) {
    main {
        width: 480px;
    }
}

@media only screen and (max-width : 479px) {
    main {
        width: 240px;
    }
}