html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-rendering: optimizelegibility;
  -webkit-text-rendering: optimizelegibility;
  text-rendering: optimizelegibility; }

body:before {
  content: '';
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

summary,
main {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

a {
  background-color: transparent; }

a,
a * {
  cursor: pointer; }

a:active,
a:hover {
  outline: 0; }

a img {
  border: 0 none; }

[hidden],
template {
  display: none; }

mark {
  color: inherit;
  background-color: inherit; }

ruby,
rt {
  text-indent: 0; }

ruby > rt {
  line-height: normal;
  display: block;
  text-align: center;
  -webkit-text-emphasis: none; }

hr {
  display: block;
  height: 0;
  margin: 0;
  border: 0 none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

td,
th {
  width: auto;
  padding: 0;
  vertical-align: top; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

ins {
  text-decoration: none; }

* {
  outline: none; }

html,
body {
  height: 100%; }

body {
  font-family: Arial, sans-serif;
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.4;
  background: #efefef; }

h1, h2, h3, h4 {
  line-height: 2.8;
  text-transform: uppercase; }

h1 {
  font-size: 1.375rem; }

h2 {
  font-size: 1.125rem; }

h3 {
  font-size: 1rem; }

h4 {
  font-size: 0.875rem; }

p {
  margin-bottom: 0.875rem; }

main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center; }

.scorecards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .scorecards .scorecard {
    background: #0b5394;
    color: #ffe4d6;
    margin: 10px;
    padding: 22px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 30%;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    max-width: 30%; }
    .scorecards .scorecard .team p {
      line-height: 2.2em;
      margin-bottom: 0px; }
      .scorecards .scorecard .team p.name {
        width: 80%;
        text-align: left;
        float: left; }
      .scorecards .scorecard .team p.score {
        width: 20%;
        margin-left: auto;
        text-align: right; }

@media only screen and (max-width: 600px) {
  main {
    max-width: 300px; }
  .scorecards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .scorecards .scorecard {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      max-width: 100%; } }

/*# sourceMappingURL=maps/import.css.map */
